* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: blue;
  color: white;
  width: 50%;
  height: 100vh;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100%
}

.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 50%;
  height: 100vh;
}