@import "components/nav.scss";
@import "components/documents.scss";

* {
    box-sizing: border-box;
  }

  header {
    background-color:darkgray;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
}

  body{
    margin:0;
    width: 100%;
    background-color: lightgray;
}



 