$red: #ff0000;
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0 auto;
    padding: 0 2em;
    display: flex;

}

h1 {
    color: $red;
    text-align: left;
}

.side1{
    background-image: url(../img/side1.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}

.side2{
    background-image: url(../img/side2.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}

.side3{
    background-image: url(../img/side3.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}

.side4{
    background-image: url(../img/side4.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}

.side5{
    background-image: url(../img/side5.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}

.side6{
    background-image: url(../img/side6.png);
    width:50vmin;
    height: 50vmin;
    background-position: center;
    background-size: cover;
}



