$red: #ff0000;
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0 auto;
    padding: 0 2em;
    display: flex;
    flex-direction: column;

}

h1 {
    color: $red;
    text-align: left;
}

.users{
    border: 2px solid black;
    width: 10em;
}

.password{
    border: 2px solid black;
    width: 10em;
}

.result{
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 20em;
    background: green;
    color: white;
    p{
        font-size: 3rem;
    }
}

.button{
    font-size: 2em;
    background-color: black;
    color: white;
    width: 10em;
}